@import "tailwindcss";

@theme {
  --color-fpl-green: #04fb88;
  --color-fpl-pink: #c90e32;
  --color-fpl-purple: #38003d;
  --color-card-bg: #04b95a;
  --color-fpl-border: rgba(255,255,255,0.2);
}

body {
  background-color: #bb1a34;
  color: #f8fafc;
  font-family: 'Inter', system-ui, -apple-system, sans-serif;
}
